*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

main,footer{
    margin: 0 auto;
}


nav{
    width: 240px;
    height: calc(100vh - 90px);
    background-color: #000000;
    padding: 20px 20px;
    color: #a3a3a3;
}

.home-list{
    flex-direction: column;
}

.home-list li{
    display: flex;
    align-items: center;
}

li img{
    width: 30px;
}

.logo{
    width: 70%;
}

.big-section{
    width: calc(100% - 240px);
    height: calc(100vh - 90px);
    overflow-y: auto;
}

footer{
    height: 90px;
    background-color: #282828;
    align-items: center;
    padding: 0 8px;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.container{
    width: 100%;
}

.top-bar{
    background-color: #080b12;
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

button{
    border-radius: 2rem;
    border: 1px solid white;
    background-color: #080b12;
    color: white;
    padding: 13px 36px;
    font-size: .75rem;
    font-weight: 600;
    
}

button:hover{
    font-size: .8rem;
    padding: 20px 45px;
}

.main-section{
    padding: 15px 10px;
    background-color: #141922;
    color: white;
}


ul{
    list-style-type: none;
    justify-content: center;
}

.main-ul{
    font-size: .7rem;
    color: #7e8184;
    font-weight: 600;
    flex-wrap: wrap;
}

.main-ul li{
    padding: 0 10px;
}

.main-ul li:hover{
    color: white;
}

h1{
    font-size: 1.3rem;
    font-weight: 700;
  }

.cd-container{
    flex-wrap: wrap;
    padding: 35px 0 25px;
}

.cd{
    width: calc( (100% / 6) - 10px);
    text-align: center;
    justify-content: center;
    padding-right: 20px;
    position: relative;
}

.cd:hover .fa-circle-play{
    opacity: 1;
}

h2{
    font-size: .85rem;
    padding: 10px 0 9px;
    line-height: .9rem;
}

p{
    font-size: .65rem;
    color: #7e8184;
    font-weight: 600;
}

.cd img{
    width: 100%;
    position:relative
}

.cd img:hover{
    opacity: var(0, 0, 0, 0.65);
}

.fa-circle-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}


.round img{
    border-radius: 50%;
}

.small-img{
    height: 37px;
}

.brano{
    width: 80px;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {

    .cd{
    width: calc( (100% / 4) - 10px);
}

}

@media screen and (max-width: 768px) {
   
    .cd{
    width: calc( (100% / 2) - 10px);
}

}

@media screen and (max-width: 576px) {}